@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
body {
    min-height: 100vh;
    font-family: "Inter", serif;
}
/* header */
header {
    height: 38px;
    background-color: #000000;
}
header .container .left p {
    font-size: .9rem;
    color: #ffffff;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
header .container .left p a {
    color: #ffffff;
    transition: .3s ease all;
}
header .container .left p a:hover {
    color: rgb(205, 2, 2);
}
header .container .right .btn-group button {
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    transition: .3s ease all;
}
header .container .right .btn-group button:hover {
    color: rgb(205, 2, 2);
}
header .container .right .btn-group ul {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    padding: 20px 10px;
}
header .container .right .btn-group ul li {
    font-size: .9rem;
    text-transform: uppercase;
}
header .container .right .btn-group ul li a {
    transition: .3s ease all;
}
header .container .right .btn-group ul li a:hover {
    background: none;
    color: rgb(205, 2, 2);
}
@media (max-width: 576px) {
    header .container .left p {
        font-size: .7rem;
    }
}
/* hero */
.hero-section {
    position: relative;
    overflow: hidden;
}
/* SectionTop */
.hero-section .section-top {
    padding: 0 60px;
    background-color: #ffffff;
    /* position:fixed;
    top: 0;
    left: 0; */
    z-index: 100;
}
/* left */
.hero-section .section-top p a {
    text-decoration: none;
    font-size: 3rem;
    color: #000000;
    font-weight: 900;
}
.hero-section .section-top a span{
    color: rgb(205, 2, 2);
    font-size: 3.5rem;
}
/* Menu-None*/
.hero-section .navbar .container-fluid p a span,
.hero-section .offcanvas-header h5 span {
    color: rgb(205, 2, 2);
    font-size: 3rem;
}
.hero-section .section-top .menu-search a,
.hero-section .navbar .container-fluid p a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .2s ease;
}
/* Menu-None */
.hero-section .navbar .container-fluid p a,
.hero-section .offcanvas-header h5 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 900; 
}
.hero-section .section-top .menu-search a:hover {
    color: rgb(160, 0, 0);
}
.hero-section .section-top .icon i {
    color: #000000;
    font-size: 1.3rem;
}
.hero-section .section-top .icon span {
    background-color: rgb(205, 2, 2);
    color: #ffffff;
}
.hero-section .section-top button i {
    font-size: 1.3rem;
}
.hero-section .section-top .offcanvas {
    padding: 20px;
}
.hero-section .section-top .offcanvas h5 {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.hero-section .section-top .offcanvas-body input {
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    border: 1px solid #afafaf;
}
.hero-section .section-top .offcanvas-body input::placeholder {
    color: #afafaf;
}
.hero-section .section-top .offcanvas-body {
    position: relative;
}
.hero-section .section-top .offcanvas-body i {
    position: absolute;
    right: 35px;
    top: 30px;
    font-size: 1.1rem;
    color: #000000;
}
/* Section bottom */
.hero-section .section-bottom {
    position: relative;
}
.hero-section .section-bottom .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff;
    text-transform: capitalize;
}
.hero-section .section-bottom .hero-text h1 {
    font-size: 3rem;
    margin: 0;
    letter-spacing: 4px;
}
.hero-section .section-bottom .hero-text h6 {
    letter-spacing: 2px;

}   
.hero-section .section-bottom .hero-text p {
    font-size: 1.5rem;
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.7);
    letter-spacing: 2px;
}
.hero-section .section-bottom .hero-text p span {
    color: rgb(205, 2, 2);
    font-size: 5rem;
    font-weight: 900;
}
/* VideoNone */
.hero-section .section-bottom .hero-text .video-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
    cursor: pointer;
}
.hero-section .section-bottom .hero-text .video-icon svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.hero-section .section-bottom .hero-text #myVideo {
    width: 100%;
    display: none; 
}
/* VideoOriginal */
.hero-section video {
    width: 100%;
    height: 95vh;
    object-fit: cover;
    object-position: center;
    filter: contrast(140%) brightness(90%);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.1);
    z-index: 1;
    display: flex;
}
.overlay .left,
.overlay .right {
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.overlay .left {
    animation: slideLeft 2s forwards;
}
.overlay .right {
    animation: slideRight 2s forwards;
}
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
@media (max-width: 768px) {
    .hero-section .section-top .menu-search {
        display: none;
        background-color: red;
    }
    .hero-section .section-bottom .hero-text p span {
        font-size: 2rem;
    }
}
@media (min-width: 200px) and (max-width: 1400px){
    
    /* whyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy */
    .hero-section .navbar {
        /* display: none; */
    }
}
/* Shop */
.shop {
    padding: 100px 100px;
}
.shop h1 {
    font-size: 2.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.shop .line img {
    width: 200px;
    border-radius: 50%;
}
#mySectionLeft {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
}
#mySectionLeft.active {
    opacity: 1;
    transform: translateX(0); 
}
@media (max-width: 576px) {
    .shop {
        padding: 20px;
    }
    .shop h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    .shop .line img {
        width: 150px;
    }
    .shop .line{
        display: flex;
        flex-wrap: wrap;
    }
    .shop .line img {
        order: -1;
    }
    .shop .line .none {
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .shop {
        padding: 20px;
    }
    .shop h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }
    .shop .line img {
        width: 200px;
    }
    .shop .line{
        display: flex;
        flex-wrap: wrap;
    }
    .shop .line img {
        order: -1;
    }
    .shop .line .none {
        display: none;
    }
}
/* Photo */
.photo {
    padding: 0 50px;
    opacity: 0;
    transform: translateY(-100px); 
    transition: opacity 1s, transform 1s;
}
.photo.active {
    opacity: 1;
    transform: translateY(0);
}
.photo .line {
    gap: 1rem;
}
.photo .image {
    overflow: hidden;
}
.photo img {
    height: 400px;
    transition: .3s ease all;
}
.photo img:hover {
    transform: scale(1.1);
}
.photo .line .image .one {
    width: 600px;
}
.photo .line .image .two {
    width: 300px;
}
.photo .line .image .three {
    width: 300px;
}
.photo .line .image .four {
    width: 400px;
}
.photo .line .image .five {
    width: 500px;
}
.photo .line .image .six {
    width: 300px;
}
 /* services */
.services {
    width: 100%;
    height: 100vh;
    margin: 50px 0 0  ;
    position: relative;
}
.services .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(28, 28, 28);
    opacity: .92;
}
.services img{
    width: 100%;
    height: 400px;
}
.services .boxes {
    position: absolute;
    top: 20%;
    left: 15%;
    right: 15%;
    z-index: 1;
}
.services .boxes .box {
    position: relative;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.services .boxes .box img {
    width: 300px;
}
.services .box .image {
    position: relative;
}
.services .box .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(23, 23, 23);
    opacity: .6;
}
.services .boxes .box .text {
    background-color: #ffffff;
    padding: 40px 0 40px 30px;
    text-transform: uppercase;
}
.services .boxes .box .text .icons {
    font-size: 1rem;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
}
.services .boxes .box .text a {
    color: #000000;
    font-size: .8rem;
    font-weight: 700;
}
.services .box:hover .hidden-box{
    z-index: 0;
}
.services .hidden-box {
    background-color: rgb(23, 23, 23);
    opacity: .9;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s ease;
    z-index: -1;
}
.services .hidden-box i{
    font-size: 3.5rem;
}
.services .hidden-box h6 {
    font-size: 1.3rem;
    font-weight: 500;
}
.services .hidden-box p{
    text-align: center;
    font-size: .8rem;
}
/* lamp */
.lamp {
    cursor: pointer;
    padding: 50px;
}
.lamp .left {
    height: 700px;
    position: relative;
}
.lamp .left .lampp {
    height: 350px;
}
.lamp .left .cabinets {
    height: 350px;
}
.lamp .left .lampp .text {
    gap: 2.5rem;
}
.lamp .left .lampp .text p{
    font-size: 2.8rem;
    letter-spacing: 5px;
    font-weight: 500;
}
.lamp .left .lampp .text a{
    color: #000000;
    font-size: .9rem;
    font-weight: 700;
}
.lamp .left .lampp .links img {
    position: absolute;
    /* left: 60px; */
    right: 0px;
    bottom: 350px;
    transition: .5s;
}
.lamp .left .lampp .links img:hover {
    transform: scale(1.1);
}
.lamp .left .cabinets {
    background-image: url('../images/banner-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.lamp .left .cabinets {
    letter-spacing: 2px;
    padding: 40px;
}
.lamp .left .cabinets P{
    font-size: 1rem;
}
.lamp .left .cabinets h3{
    font-size: 2rem;
    font-weight: 700;
}
.lamp .left .cabinets a{
    color: #000000;
    font-weight: 700;
    font-size: .9rem;
}
.lamp .right {
    background-image: url('../images/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    position: relative;
}
.lamp .right .sale {
    color: #f2f2f2;
    margin-top: 100px;
}
.lamp .right .sale p{
    font-size: 1.2rem;
    font-weight: 500;
}
.lamp .right .sale h2{
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 500;
}
.lamp .right .sale a{
    color: #f2f2f2;
    font-size: .9rem;
    font-weight: 700;
}
.lamp .right svg {
    position: absolute;
}
.lamp .right .line {
    stroke-dasharray: 300;
    stroke-width: 5px;
    fill: transparent;
    stroke: #000000;
    animation: svgAnimation 10s ease-in-out infinite;
}
@keyframes svgAnimation {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 2000;
    }
}
@media (max-width: 576px) {
    .lamp .container {
        display: flex;
        flex-direction: column;
    }
    .lamp .right {
        order: -1;
    }
    .lamp .left .lampp .text p {
        font-size: 2.3rem;
        letter-spacing: 1.5px;
        font-weight: 400;
    }
    .lamp .left .lampp .links img {
        width: 400px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .lamp .container {
        display: flex;
        flex-direction: column;
    }
    .lamp .right {
        order: -1;
    }
    .lamp .left .lampp .text p {
        font-size: 2.3rem;
        letter-spacing: 1.5px;
        font-weight: 500;
    }
    .lamp .left .lampp .links img {
        width: 550px;
    }
} 
@media (min-width: 768px) and (max-width: 1200px) {
    .lamp .left .lampp .text p {
        font-size: 2.3rem;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
    .lamp .left .lampp .links img {
        width: 550px;
    }
} 
@media (min-width: 1200px) and (max-width: 1286px) {
    .lamp .left .lampp .text p {
        font-size: 2.3rem;
        letter-spacing: 1.5px;
        font-weight: 600;
    }
    .lamp .left .lampp .links img {
        width: 650px;
    }
} 
/* canaba */
.main-canaba .canaba {
    background-color: #ffd4c8;
    width: 102%;
    height: 200px;
    padding-left: 50px;
}
.main-canaba .canaba .text {
    gap: 30px;
}
.main-canaba .canaba .text span {
    font-size: 5rem;
    font-weight: 700;
}
.canaba .text h2 {
    letter-spacing: 2px;
}
.main-canaba .canaba .text p {
    letter-spacing: 1px;
}
.main-canaba .canaba .text .right p a{
    font-weight: 700;
}
.main-canaba .canaba .image {
    overflow: hidden;
}
.main-canaba .canaba img {
    width: 100%;
    height: 100%;
    transition: .3s;
}
.main-canaba .canaba img:hover {
    transform: scale(1.1);
}
@media (max-width: 576px) {
    .main-canaba {
        padding: 0 40px;
    }
    .main-canaba .canaba{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .main-canaba .canaba .text {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-right: 50px;
    }
    .main-canaba .canaba .text span {
        font-size: 4rem;
    }
    .main-canaba .canaba .image img {
        height: 100px;
    }
}
@media (min-width: 577px) and (max-width: 767px) {
    .main-canaba .canaba {
        height: 400px;
    }
    .main-canaba .canaba {
        flex-direction: column;
    }
    .main-canaba .canaba .text {
        flex-direction: column;
        gap: 5px;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .main-canaba {
        padding: 0 10px 0 30px;
    }
    .main-canaba .canaba .text {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .main-canaba .canaba .text .right h2 {
        font-size: 2rem;
    }
}
/* product */
.product {
    padding: 100px 0;
}
.product .card-content .box {
    margin-top: 70px;
}
.product .card-content .box h2 {
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 5px;
}
.product .card-content .box a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    transition: .3s ease all;
}
.product .card-content .box a:hover {
    color: rgb(205, 2, 2);
}
.product .card-content .card {
    border: none;
    position: relative;
}
.product .card-content .card p {
    padding-top: 10px;
    font-weight: 500;    
}
.product .card-content .card .price {
    letter-spacing: 1px;
    font-size: .9rem;
}
.product .card-content .card span {
    font-weight: 700;
}
.product .card-content .card del {
    color: #afafaf;
}
.product .card-content .card .icon i {
    position: absolute;
    right: 1.4rem;
    bottom: 5.5rem;
    font-size: 1.3rem;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
}
.product .card-content .card .sale {
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.product .card-content .card .sale h6 {
    padding: 2px 15px;
    font-size: .8rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product .card-content .card .sale h6:nth-child(1) {
    background-color: rgb(205, 2, 2);   
}
.product .card-content .card .sale h6:nth-child(2) {
    background-color: #000000;
}
.product .card-content .card .sale h6:nth-child(3) {
    background-color: #848484;
}
/* لي مش بتختفي */
.product .card-content .card .icons {
    position: absolute;
    right: .5rem;
    bottom: 8rem;
    display: none;
}
.product .card-content .card .icons i {
    font-size: 1.1rem;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    transition: .3s ease all;
}
.product .card-content .card .icons i:hover  {
    color: #ffffff;
    background-color: rgb(205, 2, 2);
    cursor: pointer;
}
/* اكيد مش هتتكتب كدا */
.product .card-content .card .icons i:hover p {
    display: block;
}
.product .card-content .card .icons p {
    background-color: rgb(205, 2, 2);
    color: #ffffff;
    padding: 5px 10px;
    font-size: .8rem;
    display: none;
}


.product .card-content .card .links {
    position: absolute;
    bottom: 4.5rem;
    display: none;
}
.product .card-content .card .links button{
    padding: 15px;
    border: none;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 325px;
}
/* .product .card-content .card .one {
    transition: opacity 2s ease;
} */
.product .card-content .card:hover .icon i {
    display: block;
}
.product .card-content .card .one {
    transition: 2s;
}
.product .card-content .card .one:hover {
    content: url("../images/01-2-450x572.jpg");
}
.product .card-content .card .two:hover {
    content: url("../images/10-450x572.jpg");
}
.product .card-content .card .three:hover {
    content: url("../images/13-2-450x572.jpg");
}
.product .card-content .card .four:hover {
    content: url("../images/26-450x572.jpg");
}
.product .card-content .card .five:hover {
    content: url("../images/02-4-450x572.jpg");
}
.product .card-content .card .six:hover {
    content: url("../images/26-450x572.jpg");
}
.product .card-content .card .seven:hover {
    content: url("../images/34-450x572.jpg");
}
@media (max-width: 576px) {
    .product {
        padding: 0;
    }
    .product .card-content .box {
        font-size: 3rem;
        text-align: center;
    }
    .product .card-content .card .sale {
        left: 5px;
        top: 5px;
    }
    .product .card-content .card .sale h6 {
        padding: 2px 5px;
        font-size: .7rem;
    }
}
/* section-4 */
/* .section-four {
    margin: 100px 60px 0 60px;
}
.section-four img {
    width: 94%;
}
.section-four .product {
    position: relative;
    transition: 3s ease;
} */
/* None */
/* .section-four .product button {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 74px;
    width: 94%;
    padding: 10px;
    border: none;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
    transition: .2s ease;
}
.section-four .product .icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #000000;
    right: 30px;
    bottom: 130px;
    display: none;
}
.section-four .product .icons i {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 18px;
    transition: .2s ease;
}
.section-four .product:hover {
    cursor: pointer;
}
.section-four .product .icons i:hover {
    background-color: rgb(205, 2, 2);
    color: white;
    display: block;
}
.section-four .product button:hover {
    background-color: rgb(205, 2, 2);
    color: white;
}
.section-four .product:hover button {
    display: block;
}
.section-four .product:hover .icons {
    display: flex;
}
.section-four .product:hover .heart {
    display: none;
}
.section-four .top .text a:hover {
    color: rgb(205, 2, 2);
} */
/* .section-four .hover-image{
    transition: opacity 2s ease-in-out;
}
.section-four .hover-image:hover {
    content: attr(data-hover);
} */

/* .hover-image {
    transition: opacity 2s ease;
}
.hover-image:hover{
    content: url('../images/01-450x572.jpg'); 
} */

/* ------------ */
/* .section-four .text {
    color: #000000;
}
.section-four .text p {
    font-size: 3rem;
    letter-spacing: 5px;
    line-height: 1.3;
}
.section-four .text a {
    color: #000000;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
}
.section-four .product {
    position: relative;
}
.section-four .product a{
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
}
.section-four .product a p {
    margin-top: 10px;
}
.section-four .product .price span {
    font-weight: 700;
}
.section-four .product .price del {
    color: rgb(199, 198, 198);
}
.section-four .product .position,
.position-r,
.pt {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #f2f2f2;
    background-color: #848484;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
}
.section-four .product .pt {
    left: 70px;
}
.section-four .product .position-r {
    background-color: rgb(205, 2, 2);
}
.heart {
    position: absolute;
    background-color: rgb(245, 245, 245);
    right: 30px;
    bottom: 80px;
    padding: 10px;
    border-radius: 50%;
    display: flex;

}
.heart i {
    font-size: 20px;
} */

/* blog */
.blog p:nth-child(1) {
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.blog .carousel-item .links a{
    color: #848484;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: 1px;
}
.blog .carousel-item  h2 > a {
    color: #000000;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .7px;
    text-decoration: none ;
    transition: .3s ease;
}
.blog .carousel-item p {
    color: #848484;
    letter-spacing: 1px;
}
.blog .carousel-item a {
    color: #000000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: .9rem;
    text-decoration: none;
    transition: .3s ease;
}
.blog .carousel-item a:hover,
.blog .carousel-item .links a:hover {
    color: rgb(205, 2, 2);
}
.blog .carousel-control-prev-icon,
.blog .carousel-control-next-icon {
    background-color: #d1d1d1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width: 576px) {
    .blog {
        padding: 0;
    }
    .blog .carousel-item  h2 > a {
        font-size: 1.5rem;
    }
    .blog .carousel-item p {
        text-align: start;
    }
    .blog .carousel-item a {
        color: #000000;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: .9rem;
        text-decoration: none;
        transition: .3s ease;
    }
    .blog .carousel-item a:hover,
    .blog .carousel-item .links a:hover {
        color: rgb(205, 2, 2);
    }
    .blog .carousel-control-prev-icon,
    .blog .carousel-control-next-icon {
        background-color: #d1d1d1;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
@media (max-width: 768px) {
    .blog p {
        text-align: center;
    }
    .blog .carousel-inner {
        display: flex;
        justify-content: space-between;
    }
    .blog .carousel-inner .carousel-item {
        display: flex;
        flex-direction: column;
    }
    .blog .carousel-inner .carousel-item .blog-right {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .blog .carousel-item .blog-right {
        display: none;
    }
}
/* video */
.section-video {
    width: 100%; 
    height: 550px; 
    overflow: hidden;
    position: relative;
    background-color: red;
    margin-top: 100px;
} 
.section-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 
.section-video .overlay {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 550px;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
}
.section-video .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 8rem;
    color: #fff9f9;
    opacity: .5;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
}
@media (max-width: 576px) {
    .section-video {
        margin-top: 50px;
        height: 300px;
    }
    .section-video p {
        font-size: 4rem;
        letter-spacing: 8px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .section-video {
        margin-top: 100px;
    }
    .section-video .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 4rem;
        color: #fff9f9;
        opacity: .5;
        font-weight: 700;
        letter-spacing: 20px;
        text-transform: uppercase;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    .section-video {
        width: 100%; 
        height: 350px; 
        overflow: hidden;
        position: relative;
        background-color: red;
        margin-top: 100px;
    } 
    .section-video video {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    } 
    .section-video .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 4rem;
        color: #fff9f9;
        opacity: .5;
        font-weight: 700;
        letter-spacing: 20px;
        text-transform: uppercase;
    }
}
/* footer */
footer {
    padding-top: 70px;
}
footer .container {
    gap: 8rem;
}
footer .one img {
    width: 150px;
}
footer h4 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
}
footer a {
    color: #afafaf;
    text-decoration: none;
    font-size: 1rem;
    transition: .4s ease;
}
footer p {
    color: #afafaf;
}
footer .icons i {
    font-size: 1.5rem;
    color: #afafaf;
    transition: .4s ease;
}
footer .sub .input {
    padding: 12px 26px;
    background-color: #ededed;
    border: none;
}
footer input::placeholder {
    color: #afafaf;
    font-size: 1rem;
    letter-spacing: 1px;
}
footer input:focus {
    outline: none;
}
footer .sub button {
    padding: 12px 10px;
    color: #ffffff;
    background-color: #000000;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: .3s ease;
    border: rgb(205, 2, 2);
}
footer a:hover,
footer .icons i:hover {
    color: rgb(205, 2, 2);
    cursor: pointer;
}
footer .sub button:hover {
    background-color: rgb(205, 2, 2);
    border: none;
}
@media (max-width: 768px){
    footer .top {
        gap: 70px;
    }
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    footer .top .four .sub {
        width: 100%;    
    }   
    footer .top .one {
        order: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
    footer .top .three {
        order: 1;
    }
    footer .top .two {
        order: 2;
        padding-right: 70px;
    }
    footer .bottom .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        gap: 10px;
    }
    footer .bottom .info .center {
        order: -1;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    footer .top .four .sub {
        width: 100%;    
    }   
    footer .bottom .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        gap: 10px;
    }
    footer .bottom .info .center {
        order: -1;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    footer .bottom .info { 
        display: flex;
    }
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
}