@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    min-height: 100vh;
    font-family: "Inter", serif;
}
header {
    height: 38px;
    background-color: #000000;
}
header .container .left p {
    font-size: .9rem;
    color: #ffffff;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
header .container .left p a {
    color: #ffffff;
    transition: .3s ease all;
}
header .container .left p a:hover {
    color: rgb(205, 2, 2);
}
header .container .right .btn-group button {
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    transition: .3s ease all;
}
header .container .right .btn-group button:hover {
    color: rgb(205, 2, 2);
}
header .container .right .btn-group ul {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    padding: 20px 10px;
}
header .container .right .btn-group ul li {
    font-size: .9rem;
    text-transform: uppercase;
}
header .container .right .btn-group ul li a {
    transition: .3s ease all;
}
header .container .right .btn-group ul li a:hover {
    background: none;
    color: rgb(205, 2, 2);
}
@media (max-width: 576px) {
    header .container .left p {
        font-size: .7rem;
    }
}
/* nav */
nav .container {
    padding: 20px 0;
}
nav .container .left .menu button i,
nav .container .left .search button i {
    font-size: 1.3rem;
}
nav .container .left .menu .offcanvas .offcanvas-header p {
    font-size: 3.7rem;
    font-weight: 700;
}
nav .container .left .menu .offcanvas .offcanvas-header p span {
    color: rgb(205, 2, 2);
}
nav .container .left .menu .offcanvas .offcanvas-header .btn-close,
nav .container .left .search .offcanvas .offcanvas-header .btn-close {
    font-size: 1.3rem;
    background-color: rgb(205, 2, 2);
    transition: .3s ease all;
}
nav .container .left .menu .offcanvas .offcanvas-header .btn-close:hover {
    color: rgb(205, 2, 2);
}
nav .container .left .menu .offcanvas .offcanvas-body {
    gap: 30px;
}
nav .container .left .menu .offcanvas .offcanvas-body a {
    color: #000000;
    text-decoration: none;
    font-size: 1.5rem;
    transition: .3s ease all;
}   
nav .container .left .menu .offcanvas .offcanvas-body a:hover {
    color: rgb(205, 2, 2);
}
nav .container .left .search .offcanvas .offcanvas-header h5 {
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 700;
}
nav .container .left .search .offcanvas .offcanvas-body .search-product {
    position: relative;
}
nav .container .left .search .offcanvas .offcanvas-body .search-product input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid#afafaf;

}nav .container .left .search .offcanvas .offcanvas-body .search-product input::placeholder {
    color: #afafaf;
}
nav .container .left .search .offcanvas .offcanvas-body .search-product i {
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    top: 15px;
    color: #afafaf;
}
nav .container .center p {
    font-size: 3.5rem;
    font-weight: 700;
}
nav .container .center p span {
    color: rgb(205, 2, 2); 
}
nav .container .right .dropdown button i,
nav .container .right a,
nav .container .right a button {
    color: #000000;
    font-size: 1.3rem;
    transition: .3s ease all;
}
nav .container .right .dropdown button i:hover,
nav .container .right a:hover,
nav .container .right .shop button:hover {
    color: rgb(205, 2, 2);
}
nav .container .right .dropdown .dropdown-menu {
    width: 400px;
}
nav .container .right .dropdown .dropdown-menu ::placeholder {
    padding: 20px;
    font-size: .9rem;
    color: #afafaf;
}
nav .container .right .dropdown .dropdown-menu .form-check button {
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    color: #ffffff;
    padding: 10px;
    width: 50%;
    font-size: .9rem;
    font-weight: 700;
    transition: .3s ease all;
}
nav .container .right .dropdown .dropdown-menu .form-check button:hover {
    background-color: rgb(205, 2, 2);
}
nav .container .right .dropdown .dropdown-menu .form-check .check label {
    font-size: .9rem;
    text-transform: uppercase;
}
nav .container .right .shop .offcanvas .offcanvas-body img {
    width: 200px;
}
nav .container .right .shop .offcanvas .offcanvas-body p {
    color: #000000;
    font-weight: 700;
    font-size: 1.2rem;
}
@media (max-width: 576px) {
    nav .container {
        padding: 0;
    }
    nav .container .center p {
        font-size: 2.7rem;
    }
}
.register {
    margin-top: 20px;
}
.register .text {
    font-size: .9rem;
    letter-spacing: 1.5px;
    font-weight: 500;
    margin-bottom: 20px;
}
.register .text a {
    color: #afafaf;
    text-decoration: none;
}
.register .content-register .line h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.register .content-register .line .user-password label {
    font-size: 1rem;
    color: #afafaf;
}
.register .content-register .line .user-password input {
    width: 70%;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 10px;
}
.register .content-register .line .login a {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 50px; 
    font-size: .9rem;
    font-weight: 700;
    transition: .3s ease all;
}
.register .content-register .line .login a:hover {
    background-color: rgb(205, 2, 2);
}
.register .content-register .line .login .remember label {
    color: #000000;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.register .content-register .line a {
    color: #000000;
    letter-spacing: 1px;
    font-size: .9rem;
}
.register .content-register .line .reg a {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 50px; 
    font-size: .9rem;
    font-weight: 700;
    transition: .3s ease all;
}
.register .content-register .line .reg a:hover {
    background-color: rgb(205, 2, 2);
}
.register .content-register .line label span {
    color: rgb(255, 13, 13);
}