@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    min-height: 100vh;
    font-family: "Inter", serif;
}
header {
    height: 38px;
    background-color: var(--main-color);
}
header .container .left p {
    font-size: .9rem;
    color: var(--white-colorF);
    letter-spacing: 1.3px;
    text-transform: uppercase;
}
header .container .left p a {
    color: var(--white-colorF);
    transition: var(--main-transation);
}
header .container .left p a:hover {
    color: var(--red-color);
}
header .container .right .btn-group button {
    color: var(--white-colorF);
    border: none;
    text-transform: uppercase;
    font-size: .9rem;
    transition: var(--main-transation);
}
header .container .right .btn-group button:hover {
    color: var(--red-color);
}
header .container .right .btn-group ul {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    padding: 20px 10px;
}
header .container .right .btn-group ul li {
    font-size: .9rem;
    text-transform: uppercase;
}
header .container .right .btn-group ul li a {
    transition: var(--main-transation);
}
header .container .right .btn-group ul li a:hover {
    background: none;
    color: var(--red-color);
}
@media (max-width: 576px) {
    header .container .left p {
        font-size: .7rem;
    }
}
/* nav */
nav .container {
    padding: 20px 0;
}
nav .container .left .menu button i,
nav .container .left .search button i {
    font-size: 1.3rem;
}
nav .container .left .menu .offcanvas .offcanvas-header p {
    font-size: 3.7rem;
    font-weight: 700;
}
nav .container .left .menu .offcanvas .offcanvas-header p span {
    color: var(--red-color);
}
nav .container .left .menu .offcanvas .offcanvas-header .btn-close,
nav .container .left .search .offcanvas .offcanvas-header .btn-close {
    font-size: 1.3rem;
    background-color: var(--red-color);
    transition: var(--main-transation);
}
nav .container .left .menu .offcanvas .offcanvas-header .btn-close:hover {
    color: var(--red-color);
}
nav .container .left .menu .offcanvas .offcanvas-body {
    gap: 30px;
}
nav .container .left .menu .offcanvas .offcanvas-body a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: var(--main-transation);
}   
nav .container .left .menu .offcanvas .offcanvas-body a:nth-child(7) {
    background-color: var(--red-color);
    color: var(--white-colorF);
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px 30px;
}
nav .container .left .menu .offcanvas .offcanvas-body a:nth-child(7):hover {
    background-color: var(--main-color);
}
nav .container .left .menu .offcanvas .offcanvas-body a:hover {
    background-color: var(--red-color);
    color: var(--white-colorF);
    border-radius: 10px;
    padding: 5px 30px;
}
nav .container .left .search .offcanvas .offcanvas-header h5 {
    font-size: 1.3rem;
    letter-spacing: var(--letter-spacing1);
    font-weight: 700;
}
nav .container .left .search .offcanvas .offcanvas-body .search-product {
    position: relative;
}
nav .container .left .search .offcanvas .offcanvas-body .search-product input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--gray-color);

}nav .container .left .search .offcanvas .offcanvas-body .search-product input::placeholder {
    color: var(--gray-color);
}
nav .container .left .search .offcanvas .offcanvas-body .search-product i {
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    top: 15px;
    color: var(--gray-color);
}
nav .container .center p {
    font-size: 3.5rem;
    font-weight: 700;
}
nav .container .center p span {
    color: var(--red-color); 
}
nav .container .right .dropdown button i,
nav .container .right a,
nav .container .right a button {
    color: #000000;
    font-size: 1.3rem;
    transition: var(--main-transation);
}
nav .container .right .dropdown button i:hover,
nav .container .right a:hover,
nav .container .right .shop button:hover {
    color: var(--red-color);
}
nav .container .right .dropdown .dropdown-menu {
    width: 400px;
}
nav .container .right .dropdown .dropdown-menu ::placeholder {
    padding: 20px;
    font-size: .9rem;
    color: var(--gray-color);
}
nav .container .right .dropdown .dropdown-menu .form-check button {
    text-transform: uppercase;
    background-color: var(--main-color);
    border: none;
    color: var(--white-colorF);
    padding: 10px;
    width: 50%;
    font-size: .9rem;
    font-weight: 700;
    transition: var(--main-transation);
}
nav .container .right .dropdown .dropdown-menu .form-check button:hover {
    background-color: var(--red-color);
}
nav .container .right .dropdown .dropdown-menu .form-check .check label {
    font-size: .9rem;
    text-transform: uppercase;
}
nav .container .right .shop .offcanvas .offcanvas-body img {
    width: 200px;
}
nav .container .right .shop .offcanvas .offcanvas-body p {
    color: var(--main-color);
    font-weight: 700;
    font-size: 1.2rem;
}
@media (max-width: 425px) {
    nav .container .right .dropdown .dropdown-menu ::placeholder {
        padding: 5px 0;
        font-size: .8rem;
    }
    nav .container .right .dropdown .dropdown-menu .form-check button {
        padding: 0 30px;
        font-size: .8rem;
    }
    nav .container .right .dropdown .dropdown-menu .form-check .check label {
        font-size: .8rem;
    }
    nav .container .right .dropdown .dropdown-menu {
        width: 250px;
    }
    }
@media (max-width: 576px) {
    nav .container {
        padding: 0;
    }
    nav .container .center p {
        font-size: 2.7rem;
    }
}
/* hero-Shop */
.hero-shop .links {
    margin-top: 50px;
    color: #EFEFEF;
}
.hero-shop .links a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 1rem;
    transition: .3s ease;
}
.hero-shop .links a:hover {
    color: var(--red-color);
}
.hero-shop .links a:nth-child(2) {
    text-decoration: line-through;
}
hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #c2c2c2;
}
/* section-1*/
.hero-shop .section-one {
    padding: 50px;
}
.hero-shop .section-one .top p {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
    margin-bottom: 35px;
}

.hero-shop .section-one .link {
    position: relative;
    display: inline-block;
}
.hero-shop .section-one .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.hero-shop .section-one:hover {
    cursor: pointer;
}
.hero-shop .section-one .link:hover::after {
    background-color: rgb(0, 0, 0,0.5);
}
.hero-shop .section-one .link .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: #d1d1d1;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 2;
}
.hero-shop .section-one .link:hover .icon {
    opacity: 1;
}
.hero-shop .section-one .link:hover img {
    transform: scale(1.12);

}
.hero-shop .section-one .link a img {
    width: 120px;
    border-radius: 50%;
    display: block;
    transition: 0.3s ease-in;
}
.hero-shop .section-one .text {
    letter-spacing: var(--letter-spacing1);
}
.hero-shop .section-one .text h6 {
    font-weight: 700;
}
.hero-shop .section-one .text p {
    font-size: .9rem;
}
@media (max-width: 426px) {
    .hero-shop .section-one .bottom .d-flex {
        flex-direction: column;
        align-items: center;
    }
}
/* Products */
/* Left */
.products {
    padding: 50px 50px;
}
.products .left .type {
    margin-top: 20px;
}
.products .left .type p {
    background-color: #EFEFEF;
    padding: 15px;
    height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: var(--letter-spacing1);
}
.products .left .type .form-check:hover .form-check-input:checked {
    background-color: var(--red-color);
    border-color: var(--red-color);
}
.products .left .type .form-check-label {
    font-size: 1rem;
}
.products .left .type .form-check label span {
    padding-left: 7px;
}
.products .left .type .form-check-label {
    transition: var(--main-transation);
}
.products .left .type .form-check:hover .form-check-label,
.products .left .type .form-check:hover .form-check-input {
    color: var(--red-color);
}
/* Right */
/* topp */
.products .right .topp {
    padding: 15px 30px;
    background-color: var(--main-color);
    border: 1px solid var(--white-colorF); 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.products .right .icons a {
    color: var(--white-colorF);
    font-size: 1.4rem;
    margin-right: 15px;
    transition: color 0.3s, transform 0.3s;
}
.products .right .icons a:hover {
    color: var(--red-color);
    transform: scale(1.2); 
}
.products .right .form-check-label {
    font-size: 1rem; 
    color: var(--white-colorF);
    transition: color 0.3s;
}
.products .right .form-check-input {
    width: 18px;
    height: 18px;
    accent-color: var(--red-color);
}
.products .right .form-check:hover .form-check-input:checked {
    background-color: var(--red-color);
    border-color:var(--red-color);
}
.products .right .form-check-label:hover {
    color: var(--red-color)
}
.products .right .dropdown-toggle {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}
.products .right .dropdown-toggle:hover {
    color:var(--red-color);
}
.products .right .dropdown-menu {
border-radius: 8px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.products .right .dropdown-item {
font-size: 0.95rem;
transition: background-color 0.3s, color 0.3s;
}

.products .right .dropdown-item:hover {
background-color: var(--red-color);
color: var(--white-colorF);
}
.products .right .topp {
animation: fadeIn 1s ease-in-out;
}
.products .right .topp .offcanvas .offcanvas-header h5 label,
.products .right .topp .offcanvas .offcanvas-body label {
    color: var(--main-color);
}
.products .right .topp .offcanvas .offcanvas-header h5 label {
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: var(--letter-spacing1);
}
.products .right .topp .offcanvas .offcanvas-body p {
    font-weight: 900;
    font-size: 1.2rem;
}
.products .right .topp .button button {
    color: var(--white-colorF);
    font-size: 1.1rem;
    font-weight: 700;
} 
.products .right .topp .dropdown .dropdown-menu li button { 
    color: var(--main-transation);
}
@keyframes fadeIn {
from {
    opacity: 0;
    transform: translateY(-20px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}
.product .card-content .box {
    margin-top: 70px;
}
.product .card-content .box h2 {
    font-size: 3.1rem;
    font-weight: 400;
    letter-spacing: 5px;
}
.product .card-content .box a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 1rem;
    transition: var(--main-transation);
}
.product .card-content .box a:hover {
    color: var(--red-color);
}
.product .card-content .card {
    border: none;
    position: relative;
}
.product .card-content .card p {
    padding-top: 10px;
    font-weight: 500; 
    font-size: .9rem;   
}
.product .card-content .card .price {
    letter-spacing: var(--letter-spacing1);
    font-size: .9rem;
}
.product .card-content .card span {
    font-weight: 700;
}
.product .card-content .card del {
    color: var(--gray-color);
}
.product .card-content .card .icon i {
    position: absolute;
    right: 1.4rem;
    bottom: 5.5rem;
    font-size: 1.3rem;
    background-color: var(--white-colorF);
    border-radius: 50%;
    padding: 10px;
}
.product .card-content .card .sale {
    position: absolute;
    left: 1rem;
    top: 1rem;
}
.product .card-content .card .sale h6 {
    padding: 2px 15px;
    font-size: .8rem;
    color: var(--white-colorF);
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product .card-content .card .sale h6:nth-child(1) {
    background-color: var(--red-color);   
}
.product .card-content .card .sale h6:nth-child(2) {
    background-color: var(--main-color);
}
.product .card-content .card .sale h6:nth-child(3) {
    background-color: var(--gray-color);
}
.product .card-content .card .icons {
    position: absolute;
    right: .5rem;
    bottom: 8rem;
    display: none;
}
.product .card-content .card .icons i {
    font-size: 1.1rem;
    background-color: var(--white-colorF);
    border-radius: 50%;
    padding: 10px;
    transition: .3s ease all;
}
.product .card-content .card .icons i:hover  {
    color: var(--white-colorF);
    background-color:  var(--red-color);
    cursor: pointer;
}
.product .card-content .card .icons i:hover p {
    display: block;
}
.product .card-content .card .icons p {
    background-color:  var(--red-color);
    color: var(--white-colorF);
    padding: 5px 10px;
    font-size: .8rem;
    display: none;
}
.product .card-content .card .links {
    position: absolute;
    bottom: 4.5rem;
    display: none;
}
.product .card-content .card .links button{
    padding: 15px;
    border: none;
    background-color: var(--white-colorF);
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 325px;
}
@media (max-width: 426px) {
    .products .left {
        display: none;
    }
}
@media (max-width: 768px) {
    .product .card-content .card .icon i {
        bottom: 6rem;
        right: .5rem;
        font-size: .9rem;
    }
    .products {
        padding: 0;
    }
    .products .right .topp {
        height: 100px;
    }
    .products .right .topp .icons a {
        font-size: 1.3rem;
    }
    .products .right .product .card-content .card .sale {
        left: 5px;
        top: 5px;
    }
    .products .right .product .card-content .card .sale h6{
        padding: 2px 5px;
        font-size: .7rem;
    }
}
/* section-4 */
.heart {
    position: absolute;
    background-color: rgb(245, 245, 245);
    right: 30px;
    bottom: 80px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
}
.heart i {
    font-size: 20px;
}
/* pagination */
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px 0;
    gap: 10px;
}
.pagination .page-item {
    display: inline-block;
}
.pagination .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white-colorF); 
    background-color: #000000; 
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    border-radius: 4px; 
    font-size: 1rem;
    transition: all 0.3s ease;
}
.pagination .page-link:hover {
    background-color: var(--red-color); 
    color: var(--white-colorF);
    transform: scale(1.1); 
}
.pagination .page-item.active .page-link {
    background-color: var(--red-color);
    color: var(--white-colorF);
    border-color: var(--red-color);
    font-weight: bold;
}
.pagination .page-link[aria-label="Previous"],
.pagination .page-link[aria-label="Next"] {
    font-size: 1.2rem; 
    padding: 10px;
}
/* footer */
footer {
    padding-top: 70px;
}
footer .container {
    gap: 8rem;
}
footer .one img {
    width: 150px;
}
footer h4 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: var(--letter-spacing1);
}
footer a {
    color: var(--gray-color);
    text-decoration: none;
    font-size: 1rem;
    transition: .4s ease;
}
footer p {
    color: var(--gray-color);
}
footer .icons i {
    font-size: 1.5rem;
    color: var(--gray-color);
    transition: .4s ease;
}
footer .sub .input {
    padding: 12px 26px;
    background-color: #ededed;
    border: none;
}
footer input::placeholder {
    color: var(--gray-color);
    font-size: 1rem;
    letter-spacing: var(--letter-spacing1);
}
footer input:focus {
    outline: none;
}
footer .sub button {
    padding: 12px 10px;
    color: var(--white-colorF);
    background-color: var(--main-color);
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: var(--letter-spacing1);
    transition: var(--main-transation);
    border: var(--red-color);
}
footer a:hover,
footer .icons i:hover {
    color: var(--red-color);
    cursor: pointer;
}
footer .sub button:hover {
    background-color: var(--red-color);
    border: none;
}
@media (max-width: 768px){
    footer .top {
        gap: 70px;
    }
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    footer .top .four .sub {
        width: 100%;    
    }   
    footer .top .one {
        order: 0;
        width: 100%;
        display: flex;
        align-items: center;
    }
    footer .top .three {
        order: 1;
    }
    footer .top .two {
        order: 2;
        padding-right: 70px;
    }
    footer .bottom .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        gap: 10px;
    }
    footer .bottom .info .center {
        order: -1;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    footer .top .four .sub {
        width: 100%;    
    }   
    footer .bottom .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        gap: 10px;
    }
    footer .bottom .info .center {
        order: -1;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    footer .bottom .info { 
        display: flex;
    }
    footer .top .four {
        order: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
}
